*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:#8dbae7;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.container {
    background: white;
    width: 400px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(130, 19, 19, 0.08);

}
h1{
    text-align: center;
    margin-bottom: 20px;
}
.input-section{
    display: flex;
    gap: 10px;
}
#task-input{
    flex:1;
    padding:10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#add-btn {
  padding: 10px 15px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#add-btn:hover {
    background-color: #142a14;
}

#task-list{
    margin-top: 20px;
    list-style: circle;
}

/*this is to be added after js*/

.task {
  padding: 10px;
  background: #f1f1f1;
  border-radius: 6px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.delete-btn {
  background: crimson;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background: red;
}